.m_logo{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-30%, -40%);
}

.m_version_badge{
    position:absolute;
    top:10px;
    right:10px;
}

.m_version_laravel_badge{
    position:absolute;
    top:38px;
    right:10px;
}

.m_company_name{
    color:#fff;
    margin-top: 10px;
    margin-left: 24px;
    font-weight: 100;
    font-size: 2em;
}

.m_user_name{
    color:#fff;
    margin-left: 26px;
    margin-top: -10px;
    padding-bottom: 4px;
    font-weight: 100;
    font-size: 1em;
}

.m_header_colorpicker{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px #E8E8E8 inset;
    height: 40px;
    margin: 0 0 0 25px;
    padding: 10px;
    width: 110px;
}

.m_header_colorpicker_item{
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px #E8E8E8 inset;
    height: 40px;
    margin: 0 0 0 25px;
    padding: 10px;
    width: 110px;
}

